data:
    epgstation_url: "http://localhost:8888/"
    use_client:
        # 使わないものは削除してください
        - discord
        - misskey
    discord_webhookURL: ""
    misskey_instance: "https://misskey.io"
    misskey_token: ""
    # public home followers 投稿するノートの閲覧範囲
    miisskey_note: public
    misskey_hashtag: '#録画鯖 #EPGStation'